.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 4%,
    rgba(42, 121, 9, 1) 100%,
    rgba(38, 255, 0, 1) 100%
  );
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#searchDiv {
  display: flex;
  padding: 10px;
  height: 12vh;
}
#searchInput {
  flex: 2;
  border-radius: 2vw;
}
#searchButton {
  flex: 1;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 50%
  );
  border-radius: 2vw;
}

#cardsList {
  display: flex;
  flex-wrap: wrap;
}
#card {
  margin: 1vw;
  background: rgb(174, 179, 238);
  background: radial-gradient(
    circle,
    rgba(174, 179, 238, 1) 0%,
    rgba(201, 204, 207, 1) 93%
  );
  border-radius: 1vw;
}
#card > p {
  text-align: left;
  padding-left: 5vw;
  padding-right: 1vw;
}
